@import '../../styles/styles';

.signin {
  height: 20rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    height: 25rem;
  }
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-in-error-message {
  height: 15rem;
  width: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--user {
    height: 5rem;
    width: 5rem;
    width: auto;
  }
}

.hidden {
  display: none;
}
