@import '../../styles/styles';

.signin {
  height: 20rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    height: 15rem;
  }
}

.signin input {
  font-size: 1.6rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  height: 2.5rem;
  border: none;
  border-bottom: 1px solid black;
}
