@import '../../styles/styles';

.navigation {
  width: 100%;
  height: 60rem;
  padding: 0 5rem;
  margin-bottom: -10rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: url(../../assets/wallpaper-trip-1.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  @media only screen and (max-width: $bp-medium) {
    height: 48rem;
  }
  @media only screen and (max-width: $bp-small) {
    height: 50rem;
    padding: 0;
  }
}
