@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;400;500;600;700&display=swap');

// Texts family
$text-primary: 'Stick No Bills', sans-serif;

// Breakpoints
$bp-4k: 156em; // 2500px
$bp-largest: 75em; // 1200/16 = 75em
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

// Colors
$color-primary: #edf2f4;
$color-secondary: #00bbf9;
$color-orange: #ff9f1c;

// Texts colors
$color-light: white;

$color-black: #3e5c76;
$color-gray-dark: #14213d;

// Shadows
$shadow-normal: 0 1rem 4rem rgba(black, 0.2);

// Texts sizes and colors
.header-big {
  font-size: 8rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 6rem;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 4rem;
  }
}
.header-large {
  font-size: 3.5rem;
  letter-spacing: 1.5px;
  color: $color-black;
}
.header-normal {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  color: $color-black;
}
.header-small {
  font-size: 2rem;
  letter-spacing: 1.5px;
  color: $color-black;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.6rem;
    letter-spacing: normal;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 1.6rem;
    letter-spacing: 1.2px;
  }
}

.paragraph-big {
  font-size: 2rem;
  letter-spacing: 1.5px;
}
.paragraph-normal {
  font-size: 1.6rem;
  letter-spacing: 1.3px;
}
.paragraph-small {
  font-size: 1.5rem;
  letter-spacing: 1.6px;
  line-height: 1.5;

  @media only screen and (max-width: $bp-medium) {
    letter-spacing: normal;
  }
  @media only screen and (max-width: $bp-small) {
    letter-spacing: 1.2px;
  }
}

.text-white {
  color: $color-light;
}
.text-black {
  color: $color-black;
}

.align-center {
  text-align: center;
}

.mt-large {
  margin-top: 5rem;
}
.mt-medim {
  margin-top: 2.5rem;
}

.mb-large {
  margin-bottom: 5rem;
}

.mb-medium {
  margin-bottom: 2.5rem;
}

.align-right {
  align-self: flex-end;
}
