@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;400;500;600;700&display=swap');

// Texts family
$text-primary: 'Stick No Bills', sans-serif;

// Breakpoints
$bp-4k: 156em; // 2500px
$bp-largest: 75em; // 1200/16 = 75em
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

// Colors
$color-primary: #edf2f4;
$color-secondary: #00bbf9;

// Texts colors
$color-light: white;

// Shadows
$shadow-normal: 0 1rem 4rem rgba(black, 0.2);

// Texts sizes and colors
.header-big {
  font-size: 4rem;
}
.header-normal {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  color: $color-secondary;
}
.header-small {
  font-size: 2rem;
  letter-spacing: 1.5px;
  color: $color-secondary;
}

.paragraph-normal {
  font-size: 1.6rem;
  letter-spacing: 1.3px;
}
.paragraph-small {
  font-size: 1.5rem;
  letter-spacing: normal;
  line-height: 1.5;
}

.text-white {
  color: $color-light;
}

// 03.08.2022 UNUSED
.align-center {
  text-align: center;
}
