@import '../../../styles/_styles.scss';

.navigation__bar {
  width: 100%;
  height: 10rem;
  padding: 0 2rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: $bp-medium) {
    padding: 0;
  }
  @media only screen and (max-width: $bp-small) {
    justify-content: center;
    height: 10rem;
    padding: 0 2rem;
  }

  &--logo {
    height: 100%;
    width: 10rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      width: 20%;
      justify-content: center;
    }
  }

  &--links {
    height: 100%;
    width: 40rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }

    p {
      margin: 0 2rem;
      text-transform: uppercase;
    }
  }

  &--link {
    cursor: pointer;
  }
}

.logo__container {
  display: flex;
  align-items: center;
}

.icon {
  height: 2rem;
  width: 2rem;
  margin-left: 3rem;
}
