@import '../../styles/styles';

.footer {
  width: 100%;
  height: auto;
  padding: 5rem 0;
  background-color: $color-secondary;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    margin-top: 5rem;
  }

  &__box {
    height: auto;
    width: 100%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__contact {
    height: auto;
    width: 100%;
    margin: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }

    &--item {
      height: 5rem;
      width: 15rem;
      box-shadow: $shadow-normal;
      background-color: white;
      border-radius: 5px;

      @media only screen and (max-width: $bp-small) {
        width: 90%;
      }
    }
  }
}

.contact--link {
  height: 100%;
  width: 100%;
  color: $color-black;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.contact--icon {
  height: 2rem;
  width: 2rem;
}
