@import '../../styles/styles';

.card-list {
  height: auto;
  width: 100%;
  margin: 10rem 0;

  display: flex;
  gap: 10rem;
  flex-wrap: wrap;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    gap: 4rem;
  }
  @media only screen and (max-width: $bp-small) {
    margin-bottom: 0;
  }
}
